node_modules
temp
public

docs/.vitepress/dist
docs/.vitepress/cache

.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.obsidian/workspace.json
.obsidian/workspace-mobile.json

.trash
.DS_Store
